@{
    Layout = "_ColumnsTwo";

}
<div class="page home-page">
    <div class="page-body">
       
       
        @await Component.InvokeAsync(typeof(BestSellingViewComponent))
     

    </div>
</div>


